@model TodoSeUsa.Models.ViewModels.ClienteProductoViewModel

@{
    string Title = $"Productos del cliente - {Model.FirstName} {Model.LastName} Cod. {Model.ClienteId}";
    ViewData["Title"] = Title;
    int counter = 1;
}
<head>
    <link rel="stylesheet" href="~/css/clienteFactura.css" type="text/css" />
</head>


<partial name="_BackButtonWTitle" model="Title" />

<div class="d-flex">
    <a class="btn btn-primary" asp-controller="Facturas" asp-action="Create" asp-route-id="@Model.ClienteId">Crear Producto</a>
</div>

<div class="d-flex justify-content-between mb-3 mt-4">
    <form class="d-inline-flex" asp-action="Index" method="get">
        <div class="input-group">
            <div class="form-outline">
                <input id="searchBarInput" type="text" name="search" class="form-control" placeholder="Buscar producto" value="" />
            </div>
            <button id="searchBarButton" type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-spinner"></i></a>
</div>
<hr />

@if (Model.Productos != null && Model.Productos.Count != 0)
{

    @foreach (var item in Model.Productos)
    {
        <!-- accordion -->
        <div class="accordion mb-2" id="accordion@($"{counter}")">
            <div class="accordion-item">
                <!-- accordion header -->
                <div class="accordion-header" id="heading@($"{counter}")">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@($"{counter}")" aria-expanded="true" aria-controls="collapse@($"{counter}")">
                        <div class="d-inline-flex w-100 justify-content-around">

                            <p class="mb-auto">
                                Cod. Producto @item.ProductoId
                            </p>
                            <p class="mb-auto">
                                Cod. Factura @item.FacturaId
                            </p>

                        </div>
                    </button>
                </div>
                <div id="collapse@($"{counter}")" class="accordion-collapse collapse" aria-labelledby="heading@($"{counter}")" data-bs-parent="#accordion@($"{counter}")">
                    <!-- accordion body -->
                    <div class="accordion-body">
                        <!-- dropdown options menu -->
                        <div class="dropdown d-flex flex-row-reverse">
                            <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-cog"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item action-button" asp-controller="Productos" asp-action="Edit" asp-route-id="@item.ProductoId">Editar</a>
                            </div>
                        </div>
                        <!-- content table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Cod. Producto</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductoId)
                                    </td>
                                </tr>                                
                                <tr>
                                    <th>Cod. Factura</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FacturaId)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Precio</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Precio)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Descripción</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Estado</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Tipo</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tipo)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Vendido</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sold)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Reacondicionado</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reacondicionado)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Costo Reacondicionamiento</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CostoReacondicionamiento)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Devolver</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Devolver)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Devuelto</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Devuelto)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Condicion</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Condicion)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Activo</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        counter++;
    }
}
else
{
    <h5>Éste cliente no tiene productos!</h5>
}
<div class="d-flex flex-row-reverse me-2">
    <a class="btn btn-primary" asp-controller="Facturas" asp-action="Create" asp-route-id="@Model.ClienteId"><i class="fas fa-plus align-self-center"></i></a>
</div>
<hr />
<div class="mt-2">
    <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left"></i> Volver a la lista de clientes</a>
</div>