@model TodoSeUsaNet7.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reacondicionado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reacondicionado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoReacondicionamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoReacondicionamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Devolver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Devolver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Devuelto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Devuelto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill!.BillId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
